<%- include('../partials/head') %>
</head>
<body class="bg-gradient-to-br from-amber-600 to-amber-800 text-white font-sans min-h-screen flex flex-col items-center justify-center gap-10">
    <%- include('../partials/nav') %>
    <h1 class="text-3xl font-bold">Home Registration Successful!</h1>
    <p class="text-lg">Your home has been registered successfully.</p>
    <a href="/" class="text-amber-300 border-amber-50 border-2 py-2 px-4 rounded-lg hover:bg-amber-500">Go to Home</a>
</body>
</html>
